@import url(./main.css);
@import url(./header.css);
@import url(./footer.css);
.container {
    height: 100vh;
    /* grid container settings */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';
}


.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}
section {
    margin: 0;
    padding: 15px;
}
.contact {
    grid-area: content;
    background-color: var(--themecolor);
    display: flex;
    flex-direction: row
}

.contact-form {
    border-radius: 5px;
    border-radius: 5px;
    padding: 1em
}

.contact h2 {
    color: var(--white);
    text-align: center;
}

.contant-img {
    vertical-align: middle;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
}

.profile {
    border-bottom: solid 1px var(--gray);
    display: flex;
    color: var(--white);
}

.blog-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    padding: 30px 0px 0 0px;
}
.text-center {
    text-align: center;
}
.blog-card-item {
    min-height: 250px;
    max-height: 450px;
    text-align: center;
    border: 1px solid #ffb200;
    border-radius: 5px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: var(--white);
    margin: .4em;
}

.blog-card-item:hover {
    transform: scale(1.1);
}

.blog-card-item .blog-card-text {
    padding: 0px 30px;
}

.blog-card-image {
    vertical-align: middle;
    height: 300px;
    max-width: 350px;
}

.blog-card-link {
    color: var(--blue);
}

.article-header {
    color: var(--white);
    border-bottom: 1px solid var(--gray);
    margin-bottom: 15px;
    width: 100%;
}

.article-header h1 small {
    letter-spacing: normal;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-left: 20px;
}

.article-header h1 small span {
    padding-left: 0.5rem
}

.article-header .article-header-buttons {
    display: flex;
    flex-direction: row-reverse;
}

.article-header-image {
    max-height: 150px;
    overflow: hidden;
    width: 100%;
}

.article-header-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.article-content {
    color: var(--gray);
}

.article-image {
    vertical-align: middle;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
.article-header-buttons button{
    margin-left: 5px !important;
}

/* Mobile */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.text-center {
    text-align: center;
}
@media (min-width: 767px) and (max-width: 1980px) {
    .col-large-2 {
        width: 20%;
    }
    
    .col-large-3 {
        width: 32%;
    }

    .col-large-10 {
        width: 80%;
    }

    .col-large-12 {
        width: 100%;
    }
    .mx-1 {
        margin: 0 1em;
    }
}

@media (min-width: 250px) and (max-width: 768px) {
    .col-mobile-12 {
        width: 100%;
    }

    .avatar {
        margin: 0 auto;
        width: 250px;
        height: 250px;
    }
    .blog-card-item {
        margin-left: 0;
        margin-right: 0;
    }
    .my-mobile-1 {
        margin: 1em 0;
    }
    .text-center-mobile {
        text-align: center;
    }
    .article-image {
        margin: 0 auto;
        width: 100%;
    }
    section {
        margin: 0;
        padding: 0px;
    }
}